# Exclude these files from the git repo
wp-content/backup/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
node_modules/
/vendor/
sitemap.*
wp-config.php
composer.lock
phplog
 
# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes

.htaccess