# ignore everything in the root except the following
wp-content/*
!wp-content/mu-plugins/
!wp-content/
!wp-content/plugins/
!wp-content/themes/

.package.json
.gulpfile.js
wp-config.php
vendor/
node_modules/