// ------------------------
// BOOTSTRAP HELPER CLASSES
// ------------------------
// https://bootstrapcreative.com/resources/bootstrap-3-css-classes-index/

// ---------------------
// CUSTOM HELPER CLASSES
// ------- -------------
.inline-block { display: inline-block; }
.block { display: block; }
.show { display: block!important; }
.centered-block { display: block; margin: 0 auto; }

.relative { position: relative; }

.no-border { border: none; }

.no-padding { padding: 0; }
.no-padding-top { padding-top: 0; }
.no-padding-right { padding-right: 0; }
.no-padding-bottom { padding-bottom: 0; }
.no-padding-left { padding-left: 0; }

.no-margin { margin:0; }
.no-margin-top { margin-top: 0; }
.no-margin-right { margin-right: 0; }
.no-margin-bottom { margin-bottom: 0; }
.no-margin-left { margin-left: 0; }

.text-underline { text-decoration: underline; }
.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }

.visibility-v { visibility: visible!important; }
.visibility-h { visibility: hidden!important; }

.overflow-h { overflow: hidden; }

.centered-item { display:flex; justify-content:center; align-items:center; }