// ---------
// VARIABLES
// ---------
$primary: #25235b;
$secondary: #3A3871;

$color-content: #333333; // Content Color
$color-heading: #231f20; // Heading Color

$white: #FFF;
$black: #000;

$white-sub: #fbfbfb;

// Font Cabin
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
$font-cabin: 'Cabin', Helvetica, Arial, sans-serif;