/* Main Navigation */
.fx-navbar-main {
	position: relative;
	border-bottom: 1px solid #DDD;
}

.fx-navbar-header .navbar-brand {
	height: auto;
}

.fx-navbar-main .fx-nav-options {
	list-style: none;
	padding: 0;
	margin: 0;
}

.fx-navbar-main .fx-nav-options li {
	float: left;
	margin-right: 10px;
}

.fx-navbar-main .fx-nav-options li:last-child {
	margin-right: 0;
}

.fx-navbar-main .fx-nav-options li a {
	font-size: 20px;
    display: block;
    padding: 25px 10px;
    line-height: 30px;
    text-align: center;
}

.fx-navbar-main .fx-nav-options li a:hover,
.fx-navbar-main .fx-nav-options li a:active,
.fx-navbar-main .fx-nav-options li a:focus {
	text-decoration: none;
}

.fx-navbar-main .fx-nav-options li.account {
	padding-top: 15px;
}

.fx-navbar-main .fx-nav-options li.account a {
	border: 1px solid #DDD;
    line-height: 5px;
    padding: 20px 25px;
    font-size: 13px;
}


/* Sub Navigation */
.fx-navbar-sub {
	position: relative;
    min-height: inherit;
}

.fx-navbar-sub .fx-nav-options {
	margin: 0;
    padding: 0;
    list-style: none;
}

.fx-navbar-sub .fx-nav-options li {
	float: left;
	margin-right: 10px;
}

.fx-navbar-sub .fx-nav-options li:last-child {
	margin-right: 0;
}

.fx-navbar-sub .fx-nav-options li a {
	display: inline-block;
	padding: 10px 15px;
	width: 200px;
	border: 1px solid #DDD;
}

.fx-navbar-sub .fx-nav-options li a:hover,
.fx-navbar-sub .fx-nav-options li a:focus,
.fx-navbar-sub .fx-nav-options li a:active {
	text-decoration: none;
}

.fx-navbar-sub .fx-nav-options li.dashboard a {
	width: 45px;
}


.fx-navbar-sub .fx-nav-options li.locked a {
	background-color: #DDD;
	color: #FFF;
	cursor: not-allowed;
}

/** TARUN'S EDITS **/
