// ----
// Base
// ----
*, *:after, *::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
}
html.is-loading {
	overflow: hidden!important;
}
html,
body {
	height: 100%;
}
html {
	font-size: 100%;
}
body {
	font-size: 13px;
	margin: 0;
	padding: 0;
	letter-spacing: 1;
	color: $color-content;
	font-family: $font-cabin;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
	outline:0px !important;
	@include appearance(none);
	@include box-shadow(none);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	background: $white;
	-webkit-text-fill-color: $primary;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	transition: background-color 5000s ease-in-out 0s;
}
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
	background: transparent;
}

// ----------
// Typohraphy
// ----------
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	text-transform: uppercase;
}
p {
	line-height: 1.7;
	color: $color-content;
}
input, textarea, select{
	font-family:inherit;
}
p.thin {
	font-weight: 300;
}
ul li {
	color: $color-content;
}

// -------------------------
// Wordpress Image Alignment
// -------------------------
img.alignright {
	float:right;
	margin:0 0 1em 1em;
}
img.alignleft {
	float:left;
	margin:0 1em 1em 0;
}
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a img.alignright {
	float:right;
	margin:0 0 1em 1em;
}
a img.alignleft {
	float:left;
	margin:0 1em 1em 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}