/*============*/
/*== CUSTOM ==*/ 
/*============*/

// Landing Page
.fx-landing {
	position: relative;
	background: #F0F0F0;
	.section-one {
		background: $white;
		padding: 25px 0;
		.logo {
			font-weight: bold;
			text-transform: uppercase;
			color: $black;
			font-size: 18px;
			&:hover, &:focus, &:active {
				color: $black;
			}
		}
		.fx-nav {
			text-align: right;
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				display: inline-block;
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
				a {
					color: $black;
					&:hover, &:focus, &:active {
						color: $black;
					}
				}
			}
		}
	}
	.section-w-panel {
		background: #f0f0f0;
		padding: 50px 0;
		.panel {
			box-shadow: none;
			border-radius: 0;
			border: none;
			border-left: 3px solid #DDD;
			border-right: 3px solid #DDD;
			.panel-body {
				padding: 50px;
			}
		}
		.header-text {
			text-align: center;
			h2 {
				margin: 0 0 10px 0;
			}
			h3 {
				margin: 0;
			}
			.label-red, .label-green {
				display: inline-block;
			}
		}
		.text-lg {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 50px;
		}
	}
	.section-two {
		background-color: $black;
		border-bottom: 20px solid $red;
		position: relative;
		padding: 30px 0 50px 0;
		&:before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-image: url('../img/splash.png');
			background-repeat: no-repeat;
			background-position: top center;
			background-size: cover;
		}
		.intro-note {
			color: $white;
			font-size: 35px;
			line-height: 1.2;
			font-weight: 300;
			&.text-highlight-red {
				display: inline-block;
			}
			&.sm {
				font-size: 22px;
			}
			&.lg {
				font-size: 48px;
			}
		}
		.video {
			border: 5px solid #313030;
			background: $black;
			height: 500px;
			width: 100%;
			margin: 35px auto;
		}
		.row-item-stats {
			margin-top: 60px;
		}
		.item-info {
			border: 2px solid #313030;
			background: #111111;
			color: $white;
			text-align: center;
			position: relative;
			padding: 55px 15px 30px 15px;
			.icon {
				position: absolute;
				top: -40px;
				left: 0;
				right: 0;
				margin: auto;
				display: block;
			}
			p {
				font-size: 20px;
				margin-bottom: 0;
			}
		}
	}
	.section-three {
		.panel-steps {
			border: 2px solid #DDD;
			background: #fbfbfb;
			.panel-body {
				padding: 30px;
			}
			.list-steps {
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					height: 155px;
					margin-bottom: 15px;
					display: block;
					.counter {
						height: 150px;
						position: relative;
						width: 55px;
	    				text-align: center;
	    				float: left;
	    				margin-right: 15px;
						.number {
							display: block;
							border-radius: 50%;
							color: $white;
							text-align: center;
							background: $black;
							width: 54px;
							height: 54px;
							font-size: 26px;
							line-height: 2;
							font-weight: bold;
							padding: 0 0 0 4px;
						}
						.bar {
							display: block;
							background: $black;
							height: 40px;
							width: 8px;
							position: absolute;
							left: 0;
							right: 0;
							margin: auto;
							&.one {
								bottom: 48px;
							}
							&.two {
								bottom: 0;
							}
						}
					}
					h2 {
						font-weight: bold;
						color: $black;
						font-size: 30px;
					}
					p {
						font-size: 20px;
					}
				}
			}
		}
	}
	.section-four {
		position: relative;
		background-image: url('../img/big_img2.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 60px 0;
		border-bottom: 20px solid $red;
		border-top: 20px solid $red;
		&:before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.65);
		}
		.intro-note {
			color: $white;
			font-size: 35px;
			line-height: 1.2;
			font-weight: 300;
			text-transform: uppercase;
			span {
				color: $yellow;
				font-weight: bold;
			}
		}
		.list-features {
			list-style: none;
			padding: 0;
			margin: 0 0 0 50px;
			li {
				margin-bottom: 10px;
				color: $white;
				font-size: 20px;
				font-weight: 300;
				text-align: left;
				i {
					color: $yellow;
				}
			}
		}
		.item-stats {
			text-align: center;
			.count, .count-label {
				display: block;
			}
			.count {
				font-size: 50px;
				color: $white;
				display: block;
				margin-bottom: -10px;
			}
			.count-label {
				font-size: 20px;
				color: $yellow;
				text-transform: uppercase;
			}
		}
	}
	.section-five {
		position: relative;
		.header-text {
			text-align: center;
			p.text-heading {
				font-size: 28px;
				margin-bottom: 0;
				line-height: 1.3;
			}
		}
		.step-item {
			border-top: 1px solid #DDD;
			padding: 40px 0;
			h2 {
				margin: 0 0 10px 0;
			}
		}
	}
	.section-six {
		position: relative;
	    background-image: url(../img/market-trading.jpg);
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    padding: 60px 0;
	    border-bottom: 20px solid #de1515;
	    border-top: 20px solid #de1515;
		&:before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.65);
		}
		.intro-note {
			color: $white;
			font-size: 35px;
		}
		.image-market-trading {
			background-image: url('../img/market-trading.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: relative;
			padding: 50px 0;
		}
		.btn-danger {
			font-size: 25px;
			padding: 10px 25px 10px 25px;
			span {
				font-size: 15px;
    			display: block;
			}
		}
	}
	.section-seven {
		position: relative;
		padding: 50px 0 20px;
		.list-checklist {
			padding: 0;
			margin: 15px 0;
			li {
				font-size: 22px; 
				span {
					color: $red;
					font-weight: bold;
				}
			}
		}
	}
	.section-eight {
		position: relative;
	}
	.section-nine {
		padding: 50px 0;
		border-bottom: 20px solid $red;
		.faq-items {
			list-style: none;
			padding: 0;
			margin: 0 -15px;
		}
		.faq-item {
			position: relative;
			border-bottom: 2px solid #DDD;
			padding: 25px 0;
			height: 200px;
			&.no-border {
				border-bottom: none;
			}
			.question {
				font-weight: bold;
				display: block;
				margin-bottom: 10px;
				font-size: 18px;
			}
		}
		.info {
			color: #777;
			font-size: 15px;
		}
	}
	.section-ten {
		position: relative;
		background-image: url('../img/splash2.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 60px 0 20px 0;
		border-bottom: 20px solid $red;
		border-top: 20px solid $red;
		&:before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.65);
		}
		.header-text {
			text-align: center;
			p.white-sub {
				color: #c6c6c6;
			}
		}
		.unlock-item {
			position: relative;
			text-align: center;
			height: 200px;
			.icon {
				text-align: center;
				img {
					height: auto;
					margin: 0 auto 15px auto;
				}
			}
			span {
				color: $white;
			}
		}
	}
	.section-eleven {
		position: relative;
		background-color: #1d1d1d;
		padding: 50px 0;
		.intro-note {
		    font-size: 35px;
		    line-height: 1.2;
		    font-weight: 300;
		}
		.row-package {
			padding-top: 30px;
		}
	}
	.section-testimonials {
		position: relative;
		.header-text {
			text-align: center;
			p.text-heading {
				font-size: 28px;
				margin-bottom: 0;
				line-height: 1.3;
				&.sm {
					font-size: 25px;
				}
			}
		}
		.item-stats {
			text-align: center;
			.count, .count-label {
				display: block;
			}
			.count {
				font-size: 50px;
				color: $black;
				display: block;
				margin-bottom: -10px;
			}
			.count-label {
				font-size: 20px;
				color: $black;
				font-weight: normal;
				margin-top: 5px;
			}
		}
		.testimonial-item {
			text-align: center;
			margin-bottom: 10px;
			span {
				display: block;
				&.title {
					font-weight: bold;
					margin-top: 10px;
				}
			}
		}
	}
	// Signals
	&.signals {
		.section-two {
			height: 550px;
			border-bottom: none;
			&:before {
				background-image: url('../img/splash-signals.png');
			}
		}
		.section-three {
			.n-t-xl {
				margin-top: -200px;
			}
			.header-text {
				text-align: center;
				position: relative;
				width: 500px;
				margin-left: auto;
				margin-right: auto;
				display: block;
				.arrow-left, .arrow-right {
					position: absolute;
					bottom: -25px;
					width: 90px;
					height: auto;
				}
				.arrow-left {
					left: 0;
				}
				.arrow-right {
					right: 0;
				}
				h2 {
					color: $white;
				}

			}
			.signals-disclosure {
				text-align: center;
				font-size: 14px;
				color: #333;
			}
		}
		.section-testimonials {
			background-image: url('../img/splash2.png');
			background-position: top center;
			background-color: $black;
			.intro-note {
				color: $white;
				font-size: 35px;
				line-height: 1.2;
				font-weight: normal;
				&.text-highlight-red {
					display: inline-block;
				}
				&.sm {
					font-size: 22px;
				}
				&.lg {
					font-size: 48px;
				}
			}
		}
		.section-four {
			background: #f0f0f0;
			border: none;
			&:before {
				display: none;
			}
		}
		.section-nine {
			padding: 0 0 50px 0;
		}
	}
}

// Login
.fx-login {
	position: relative;
	.left {
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		.content-wrapper {
			display:flex;
			justify-content:center;
			align-items:center;
			height: 100%;
			.content {
				padding: 15px;
				width: 85%;
				h2 {
					margin-top: 0;
				}
			}
		}
	}
	.right {
		background: $black;
		width: 50%;
		position: absolute;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		.content-wrapper {
			display:flex;
			justify-content:center;
			align-items:center;
			height: 100%;
			.content {
				padding: 15px;
				width: 85%;
				h2 {
					margin-top: 0;
					color: $white;
				}
				p, a {
					color: $white;
				}
				.form-control {
					height: auto;
					padding: 10px 12px;
				}
				button {
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}
}

// Main Navigation
.fx-navbar-main {
	position: relative;
	border-radius: 0;
	background-color: $red;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	.fx-nav-options {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			float: left;
			margin-right: 10px;
			&:last-child { margin-right: 0; }
			a {
			    display: block;
			    padding: 25px 10px;
			    line-height: 30px;
			    text-align: center;
			    color: $white;
			    .image {
			    	border: 1px solid #DDD;
			    	height: 50px;
					img {
						margin: 0 auto;
					}
			    }
			    span {
					font-size: 13px;
					display: block;
			    }
			    &:hover, &:active, &:focus {
			    	text-decoration: none;
			    }
			    .icon-inbox {
			    	font-size: 44px;
			    }
			}
			&.account {
				padding-top: 40px;
				a {
					background: #ba1213;
					line-height: 5px;
					padding: 20px 25px;
					font-size: 13px;
				}
			}
		}
	}
	.fx-navbar-header .navbar-brand {
		height: auto;
		img {
			margin-top: 30px;
		}
	}
}

// Sub Navigation
.fx-navbar-sub {
	position: relative;
    min-height: inherit;
    .fx-nav-options {
		margin: 0;
	    padding: 10px;
	    list-style: none;
	    border: 1px solid #DDD;
	    li {
			display: inline-block;
			margin-right: 10px;
			&:last-child { margin-right: 0; }
			a {
				display: inline-block;
				padding: 10px 15px;
				width: 200px;
				border: 1px solid #DDD;
				&:hover, &:focus, &:active {
					text-decoration: none;
				}
			}
			&.dashboard a {
				width: 45px;
			}
			&.active a {
				background-color: #23527c;
				color: $white;
				border-color: #23527c;
			}
			&.locked a {
				background-color: #DDD;
				color: $white;
				cursor: not-allowed;
			}
		}
	}
}

// Footer
.fx-footer {
	position: relative;
	background: #2f2f2f;
	padding: 60px 0;
	span {
		color: $white;
		font-size: 13px;
		display: inline-block;
	}
	.credit-cards {
		width: 160px;
		margin: 0 15px;
	}
	.footer-nav {
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			display: block;
			margin-bottom: 15px;
			a {
				color: $white;
				font-size: 14px;
			}
		}
	}
}
.fx-disclosure {
	background: $black;
	padding: 30px 0;
	p {
		color: #a1a1a1;
		font-size: 12px;
		margin-bottom: 0;
	}
}

// Referral Program
.fx-ref-links {
	margin-top: 30px;
	border: 1px solid #DDD;
	padding: 15px 30px 30px 30px;
	.fx-ref-title {
		text-align: center;
		h3 {
			font-weight: bold;
			margin-bottom: 5px;
		}
	}
	.box {
		border: 1px solid #DDD;
		padding: 15px;
		margin-top: 20px;
		.link {
			margin-top: 10px;
			border: 1px solid #DDD;
			padding: 15px;
			position: relative;
		}
		.btn {
			margin-top: 10px;
		}
	}
}

// Product - Coaching / Webinars
.fx-coaching-tab {
	position: relative;
	.tab-pane {
		border-left: 1px solid #DDD;
		border-right: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		min-height: 500px;
	}
}

// Marketing Funnels
.fx-tabs-vertical.marketing-funnels {
	.list-group {
		width: 100%;
		.list-group-item {
			height: 50px;
			h4, span {
				line-height: 11px;
			}
		}
	}
	.tab-profile {
		position: relative;
		.heading {
			position: relative;
			h3 {
				margin-top: 0;
			}
		}
		.social-media {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				float: left;
				width: 25%;
				padding-right: 10px;
				&:last-child { padding-right: 0; }
			}
		}
		.url-group {
			position: relative;
			&.one {
				input[type="text"],
				textarea{
					width: 77%;
					float: left;
					margin-right: 5px;
				}
				.btn {
					width: 10%;
					float: left;
				}
			}
			&.two {
				input[type="text"],
				textarea {
					width: 77%;
					float: left;
					margin-right: 5px;
				}
				.btn {
					width: 10%;
					float: left;
					margin-right: 5px;
				}
			}
		}
		.toggle-action {
			width: 85px;
			padding: 5px 0;
			label {
				margin: 0 auto;
			}
		}
	}
}
.total-count.funnel-stats {
	border: 1px solid #DDD;
	text-align: center;
	display: block;
	padding: 15px;
}

// Marketing Contacts
.fx-contact-panel {
	position: relative;
	.media-body {
		position: relative;
		.info {
			position: relative;
			.info-list {
				list-style: none;
				padding: 0;
				margin: 0 0 7px 0;
				li {
					display: inline-block;
					margin-right: 10px;
					font-size: 12px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			p {
				font-size: 12px;
			}
		}
		.action {
			width: 100px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			display:flex;
			justify-content:center;
			align-items:center;
			text-align: center;
			i {
				font-size: 35px;
			}
			a {
				font-size: 12px;
				&:hover, &:focus, &:active {
					text-decoration: none;
				}
			}
		}
	}
}
.fx-tabs-vertical.marketing-contacts {
	.list-info {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: 5px;
			font-size: 13px;
			span {
				font-weight: bold;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
#view-purchase-details {
	display: none;
}

// Account - Information
.form-edit{
	.list-info-fields{
		li{
			span{
				display: inline-block;
				vertical-align: middle;
				min-width: 150px;
			}
		}
	}
}

// Account - Inbox
.fx-inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 1px solid #DDD;
    margin-top: 15px;
    li {
		display: inline-block;
		line-height: 45px;
		width: 100%;
		border-bottom: 1px solid #DDD;
		&:last-child {
			border-bottom: none;
		}
		a {
			color: #6a6a6a;
			display: inline-block;
			line-height: 45px;
			padding: 0 20px;
			width: 100%;
			span.label {
				margin-top: 13px;
			}
			i {
				color: #6a6a6a;
				font-size: 16px;
				padding-right: 10px;
			}
		}
		&.active a, a:focus, a:hover {
			color: #337ab7;
			font-weight: bold;
			text-decoration: none;
		}
    }
}
.fx-table-inbox {
	tr.unread td {
		background: #f7f7f7;
		font-weight: bold;
	}
}

.fx-adjacent-lessons{
	display: flex;
	justify-content: space-between;
	a{
		display: inline-block;
	    padding: 10px 15px;
	    width: 200px;
	    border: 1px solid #DDD;
	}
}

// Single Lessons
.lesson-table-holder{
	overflow-x: auto;
	overflow-y: hidden;
	height: 100%;
}
.lesson-table{
	min-width: 700px;
	img{
		max-width: 100%;
	}
	th,td{
		border: 1px solid #dbdbdb;
	}
	th{
		background: #000;
		color: #fff;
		padding: 7px 15px;
		text-align: center;
		font-weight: bold;
	}
	td{
		padding: 25px 15px;
		text-align: center;
	}
	.lesson-table-broker{
		position: relative;
		&:before{
			content: "";
			display: block;
			background: url('../img/lesson-table-ribbon-yellow.png') no-repeat left top;
			width: 71px;
			height: 53px;
			position: absolute;
			top: -11px;
			left: -6px;
			background-size: 71px;
		}
	}
	.lesson-table-red{
		.lesson-table-broker{
			&:before{
				background-image: url('../img/lesson-table-ribbon-red.png');
			}
		}
	}
	.lesson-table-offer{
		font-weight: bold;
	}
	.lesson-table-btn{
		position: relative;
		background: url('../img/lesson-yellow-btn.jpg') repeat-x left top;
		color: #fff;
		font-weight: bold;
		height: 45px;
		line-height: 45px;
		padding: 0 15px;
		border-radius: 3px;
		display: block;
		background-size: auto 45px;
		font-size: 14px;
		&.red-btn{
			background-image: url('../img/lesson-red-btn.jpg');
			&:hover{
				background: #af0018;
			}
		}
		&:hover{
			background: #b08d00;
			text-decoration: none;
		}
		&:before{
			content: "";
			display: inline-block;
			background: url('../img/btn-star.png') repeat-x left top;
			width: 20px;
			height: 19px;
			background-size: 20px;
			vertical-align: middle;
			margin: -5px 5px 0 0;
		}
	}
}
.fx-course-navigation{
	ul{
		list-style: none;
		margin: 20px 0 0 10px;
		padding: 0;
		li{
			border-left: 2px solid #c4c8d2;
			a{
				position: relative;
				padding-left: 22px;
				display: block;
				color: #444952;
				padding-bottom: 20px;
				&:before{
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: -13px;
					width: 25px;
					height: 25px;
					border: 2px solid #c4c8d2;
					border-radius: 50%;
					background: url('../img/red-triangle.png') no-repeat center center #fff;
					background-size: 7px;
				}
			}
			&:last-child{
				border-left-color: transparent;
				a{
					padding-bottom: 0;
				}
			}
		}
	}
}

// Access Denied
.fx-access-denied, .fx-404{
	.fx-navbar-main{
		display: none;
	}
	.fx-access-denied-top, .fx-404-top{
		border-bottom: 2px solid #dedede;
		padding: 15px 0;
	}
	.fx-missing-nav{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			a{
				display: block;
			}
		}
	}
	.fx-missing-left{
		li{
			font-size: 13px;
			border-right: 1px solid #000;
			margin-right: 10px;
			padding-right: 10px;
			line-height: 1;
			&:last-child{
				border-right: 0;
			}
			a{
				color: #000;
			}
		}
	}
	.fx-missing-right{
		text-align: right;
		li{
			font-size: 13px;
			margin-left: 15px;
			line-height: 1;
			a{
				color: #000;
				&.btn-flag{
					padding: 5px 0 5px 33px;
					&:before{
						content: "";
						display: inline-block;
						vertical-align: middle;
						background: url(../img/us-flag.png) no-repeat left center;
						background-size: 30px;
						width: 25px;
						height: 25px;
						border-radius: 5px;
						margin-right: 7px;
					}
					&:hover{
						text-decoration: none;
						opacity: .8;
					}
				}
			}
			&.fx-nav-btn{
				a{
					background: $red;
					color: #fff;
					padding: 8px 12px;
					border-radius: 4px;
					border: 1px solid $red;
					&:hover{
						background: #fff;
						color: $red;
						text-decoration: none;
					}
				}
			}
		}
	}
	.fx-header-title{
		h1{
			font-size: 32px;
		}
		p{
			font-size: 20px;
		}
	}
	.section-one{
		padding: 20px 0;
		.logo{
			font-weight: bold;
		    text-transform: uppercase;
		    color: #000;
		    font-size: 18px;
		    padding-top: 4px;
		}
		.fx-nav{
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: right;
			li{
				display: inline-block;
				margin-left: 5px;
				a{
					display: block;
					border: 1px solid $red;
					border-radius: 4px;
					padding: 3px 15px;
					color: #000;
					font-size: 14px;
					&:hover{
						background: $red;
						text-decoration: none;
						color: #fff;
					}
				}
			}
		}
	}
	.section-note{
		background: #de1515;
    	padding: 15px 0;
    	text-align: center;
    	margin-bottom: 20px;
    	p{
    		color: #fff;
		    margin-bottom: 0;
		    font-size: 18px;
    	}
	}
	.note{
		.btn{
			border: 1px solid #940000;
			font-size: 18px;
			padding: 15px 25px 15px 25px;
			max-width: 72%;
			margin: 0 auto;
			border-radius: 3px;
			background: #fe1111;
			background: -moz-linear-gradient(top, #fe1111 0%, #e10101 100%);
			background: -webkit-linear-gradient(top, #fe1111 0%,#e10101 100%);
			background: linear-gradient(to bottom, #fe1111 0%,#e10101 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe1111', endColorstr='#e10101',GradientType=0 );
			&:hover{
				background: #e10101;
			}
		}
	}
	.note-gray{
		background: #f9f9f9;
		padding: 40px;
		margin-bottom: 25px;
		p{
			margin-bottom: 20px;
			&:last-child{
				margin: 0;
			}
		}
		a{
			color: #000;
			text-decoration: none;
			border-bottom: 1px solid #8A8A8A;
		}
		.numbered-bullets{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				margin-bottom: 15px;
				padding-left: 42px;
				position: relative;
				span{
					background: $red;
					display: inline-block;
					color: #fff;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					text-align: center;
					line-height: 30px;
					font-size: 16px;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -15px;
				}
			}
		}
	}
	@media (max-width: 767px){
		.fx-missing-nav{
			text-align: center;
			margin-bottom: 10px;
		}
		.section-one{
			text-align: center;
			.logo{
				margin-bottom: 10px;
				display: block;
			}
			.fx-nav{
				text-align: center;
				li{
					margin: 5px 0;
				}
			}
		}
	}
}

// Checkout
.checkout-holder{
	.right-no-pad{
		padding-right: 0;
	}
	.no-pad{
		padding: 0;
	}
	.no-pad-left{
		padding-left: 0;
	}
	.checkout-form{
		position: relative;
		&:after{
			background: linear-gradient(-45deg, #fff 16px, transparent 0), linear-gradient(45deg, #fff 16px, transparent 0);
		    background-position: left-bottom;
		    background-repeat: repeat-x;
		    background-size: 12px 32px;
		    content: " ";
		    display: block;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 19px;
		}
	}
	.popover-label{
		background: #c1c1c1;
		line-height: 28px;
		height: 28px;
		text-align: center;
		width: 28px;
		border-radius: 50%;
		color: #fff;
		font-weight: bold;
		border: 0;
		font-size: 15px;
		&:focus, &:hover{
			outline: none;
			background: $red;
		}
	}
	.panel{
		font-size: 14px;
		margin: 0;
		border-radius: 0;
		&:last-child{
			margin-bottom: 40px;
		}
		.panel-heading{
			background: $red;
			color: #fff;
			font-weight: bold;
			font-size: 18px;
			padding: 11px 18px;
		}
		.panel-body{
			padding-top: 30px; 
		}
		.form-control{
			height: 40px;
			border-radius: 0;
		}
		.col-form-label{
			text-align: right;
			line-height: 40px;
			padding-right: 0;
			&.label-pad{
				padding-right: 10px;
			}
		}
		input[type="checkbox"]{
			margin-right: 5px;
		}
		.field-with-popover{
			position: relative;
			padding-right: 45px;
			.popover-label{
				position: absolute;
				top: 50%;
				margin-top: -14px;
				right: 0;
			}
		}
		&.panel-gray{
			box-shadow: inset 0px 0px 1px #989898;
			background: #f3f3f3;
			.panel-body{
				padding: 0 30px 25px;
			}
			h5{
				color: #16446f;
			    font-weight: 700;
			    border-bottom: 1px dotted #c1c1c1;
			    padding: 25px 0 15px 0;
			    font-size: 1.3em;
			    text-transform: uppercase;
			    margin: 0;
			    position: relative;
			    span{
			    	position: absolute;
				    right: 30px;
				    top: 28px;
				    font-weight: 700;
				    font-size: 0.75em;
			    }
			}
			#product-ordered-list{
				list-style: none;
				margin: 0 0 8px;
				padding: 0;
				li{
					display: inline-block;
				    width: 100%;
				    background: rgba(255, 255, 255, 0.8);
				    padding: 14px 0 12px 0;
				    font-size: 1.2em;
				    text-transform: uppercase;
				    font-weight: 700;
				    span{
				    	color: $red;
				    }
				}
			}
		}
	}
	.panel-note{
		background: url(../img/secure-ssl-ico.png) no-repeat left center #DEEFDD;
		margin: -30px -15px 30px;
		padding: 15px 25px 10px 35%;
		p{
			opacity: .7;
		}
	}
	.term-wrap{
		.term-wrap-text{
			font-size: .9em;
			opacity: .8;
			line-height: 1.3;
			display: block;
			margin-bottom: 4px;
		}
		.highlight{
			color: #27ae60;
			font-weight: bold;
			text-decoration: underline;
			opacity: 1;
		}
		a{
			color: $red;
		}
	}
	.submit-btn-wrap {
	    border-top: 1px dotted #c1c1c1;
	    padding: 20px 0 0 0;
	    margin-top: 20px;
	    .btn{
	    	padding: 10px 50px 10px 50px;
	    	text-transform: uppercase;
	    	font-weight: bold;
	    }
	    .fa{
	    	display: inline-block;
	    	font-size: 18px;
	    	margin-left: 12px;
	    	font-weight: bold;
	    	vertical-align: middle;
	    }
	}
	.checkout-sidebar{
		img{
			max-width: 100%;
		}
		.checkout-sidebar-item{
			padding: 15px 0;
			border-bottom: 1px dotted #dadada;
			h3{
				font-weight: bold;
			    text-align: left;
			    margin: 0;
			    padding: 0 0 15px 0;
			    font-size: 19px;
			    text-transform: uppercase;
			    color: $red;
			    margin: 0 0 5px;
			    padding: 0;
			}
			.check-list{
				list-style: none;
				margin: 13px 0 0;
				padding: 0;
				li{
					position: relative;
					margin-bottom: 12px;
					font-size: 13px;
					padding-left: 22px;
					&:before{
						content: "";
						display: block;
						background: url(../img/checked.png) no-repeat top left;
						width: 16px;
						height: 13px;
						position: absolute;
						top: 3px;
						left: 0;
					}
				}
			}
			.checkout-icon-box{
				background: url(../img/sidebar-ico-1.png) no-repeat left center;
				padding-left: 75px;
				position: relative;
				font-size: 13px;
				p{
					margin: 0;
					line-height: 1.3;
				}
				h4{
					font-weight: bold;
				    margin: 0 0 4px;
				    padding: 0;
				    font-size: 14px;
				    color: $red;
				}
				&.checkout-icon-box-2{
					background-image: url(../img/sidebar-ico-2.png);
				}
				&.checkout-icon-box-3{
					background-image: url(../img/sidebar-ico-3.png);
				}
			}
		}
	}
	@media (max-width: 991px){
		.field-mobile-m{
			margin-bottom: 15px
		}
		.right-no-pad{
			padding-right: 15px;
		}
		.no-pad, .no-pad-left{
			padding: 0 15px;
		}
		.panel{
			.col-form-label{
				line-height: 1;
			}
			.field-with-popover{
				padding-right: 55px;
				.popover-label{
					right: 15px;
				}
			}
			&.panel-gray{
				.panel-body{
					padding: 0 15px 25px;
				}
				.term-wrap{
					margin: 0;
					.col-xs-1{
						padding: 0;
					}
					.col-xs-11{
						padding-left: 0;
					}
				}
			}
		}
		.panel-note{
			background-position: left top;
			padding: 65px 15px 10px 15px;
		}
		.submit-btn-wrap{
			.btn{
				font-size: 18px;
				padding: 10px 20px 10px 20px;
			}
		}
		.checkout-sidebar{
			margin-bottom: 30px;
		}
	}
}
.noty_theme__relax.noty_bar{
	border-radius: 59px;
	.noty_body{
		padding: 3px;
	}
	.customer-notif{
		position: relative;
		padding-left: 68px;
		font-size: 14px;
		img{
			width: 59px;
			height: 59px;
			display: block;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.customer-name{
			font-weight: bold;
			font-size: 15px;
		}
		.customer-time{
			color: #999;
			font-size: 13px;
		}
	}
}
#checkout-popoup{
	.close{
		font-size: 40px;
		font-weight: bold;
		background: #000;
		width: 45px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		border-radius: 50%;
		position: relative;
		display: block;
		z-index: 10;
		opacity: 1;
		color: #fff;
		position: absolute;
		top: -20px;
		right: -20px;
		&:before{
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background: rgba(0,0,0,.4);
			border-radius: 50%;
			width: 50px;
			height: 50px;
			margin-top: -25px;
			margin-left: -25px;
		}
	}
	.modal-dialog{
		max-width: 750px;
		width: auto;
	}
	.modal-content{
		border-radius: 0;
	}
	.modal-body{
		padding: 20px 50px;
		border-radius: 0;
		border: 4px solid rgba(0, 0, 0, 0.6);
		img{
			max-width: 100%;
		}
		h2{
			color: $red;
			font-size: 65px;
			margin: 0;
		}
		h3{
			font-size: 34px;
			margin: 0;
		}
		.intro-note{
			font-size: 31px;
			color: #fff;
			background: $green;
			margin-top: 10px;
		}
		p{
			margin-bottom: 25px;
			a{
				text-decoration: underline;
				color: #000;
			}
		}
		.btn-success{
			display: block;
			font-size: 30px;
    		padding: 17px 25px 17px 25px;
    		span{
    			font-size: 17px;
    		}
		}
	}
	@media (max-width: 991px){
		.modal-dialog{
			max-width: 700px;
		}
	}
	@media (max-width: 767px){
		.modal-body{
			padding: 20px 15px;
			h2{
				font-size: 42px;
			}
			h3{
				font-size: 25px;
			}
			.intro-note{
				font-size: 23px;
			}
			.btn-success{
				white-space: normal;
				font-size: 18px;
				padding: 10px 15px;
				span{
					font-size: 14px;
				}
			}
		}
	}
}

// Capture Page
.fx-capture-page {
	position: relative;
	// Funnel 1
	&.f1 {
		height: auto;
		.section-one {
			background-color: $white;
			.container {
				position: relative;
				padding: 80px 0 0;
				height: 500px;
				&:before {
					content: ' ';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					background-image: url('../img/funnel-bg/f1-bg.png');
					background-repeat: no-repeat;
					background-position: right;
					background-size: contain;
				}
				.content-wrapper {
					height: 100%;
					@extend .centered-item;
					.content {
						span, p {
							font-size: 13px;
							margin-bottom: 0;
						}
						h1 {
							margin: 10px 0;
						}
					}
				}
			}
			.fx-input-email {
				padding: 20px;
				background: url('../img/yellow-gradient.jpg') no-repeat center;
				background-size: cover;
				margin-top: 15px;
				input {
					border-radius: 0;
					-webkit-border-radius: 0;
					-moz-border-radius: 0;
				}
			}
		}
		.section-two {
			padding: 50px 0;
			background-color: #f5f5f5;
			.header-text {
				position: relative;
				text-align: center;
				padding-bottom: 20px;
				.red {
					position: absolute;
					width: 120px;
					left: 0;
					right: 0;
					bottom: 0;
					margin-left: auto;
					margin-right: auto;
					background: $red;
					height: 4px;
				}
				h2 {
					margin: 8px 0 0;
				}
			}
			.row-item-info {
				margin-top: 50px;
			}
			.item-info {
				text-align: center;
				.image {
					height: 100px;
					@extend .centered-item;
				}
				span {
					display: block;
					margin-top: 5px;
				}
			}
		}
	}
	// Funnel 2
	&.f2 {
		.section-one {
			background-color: $black;
			position: relative;
			padding: 30px 0 50px 0;
			&:before {
				content: ' ';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background-image: url('../img/splash.png');
				background-repeat: no-repeat;
				background-position: top center;
				background-size: cover;
			}
			.intro-note {
				color: $white;
				font-size: 35px;
				line-height: 1.2;
				text-transform: uppercase;
				margin-bottom: 0;
				span {
					color: $yellow;
					font-weight: bold;
				}
				&.sm {
					font-size: 22px;
					font-weight: 300;
				}
			}
			.row-video {
				margin-top: 35px;
			}
			.video-disclaimer {
				color: #c6c6c6;
				margin-bottom: 0;
				text-align: center;
				margin-top: 15px;
				font-size: 14px;
			}
			.video {
				border: 5px solid #313030;
				background: $black;
				height: 430px;
				width: 100%;
			}
		}
		.section-two {
			padding: 50px 0;
			background: $white;
			p {
				font-size: 22px;
			}
		}
	}
	// Funnel 3
	&.f3 {
		padding: 50px 0;
		.text-heading {
			text-align: center;
			h2 {
				line-height: 1.2;
				margin: 0;
			}
		}
		.tab-form {
			background: url('../img/yellow-gradient.jpg') no-repeat center;
			background-size: cover;
			padding: 10px;
			.nav-tabs>li.active>a,
			.nav-tabs>li.active>a:focus,
			.nav-tabs>li.active>a:hover {
				background: transparent;
				border: none;
				color: $black;
			}
			.nav-tabs {
				border: none;
				li {
					width: 33.33333333%;
					text-align: center;
					a {
						border: none;
						color: #999999;
						padding: 5px 15px;
						label {
							display: block;
							font-size: 24px;
							margin-bottom: 0;
						}
						span {
							font-size: 13px;
							display: block;
							line-height: 1.2;
						}
						&:hover, &:focus, &:active {
							background: transparent;

						}
					}
				}
			}
		}
	}
}