/*===========*/
/*== FORMS ==*/ 
/*===========*/

// Slide Toggle - Checkbox Transformation
.fx-slide-toggle {
	display: none;
	// add default box-sizing for this scope
	&, &:after, &:before, & *, & *:after, & *:before, & + .fx-slide-toggle-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
	+ .fx-slide-toggle-btn {
		outline: 0;
		display: block;
		width: 50px;
		height: 25px;
		position: relative;
		cursor: pointer;
    	user-select: none;
		&:after,
    	&:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
		&:after {
			left: 0;
		}
		&:before {
			display: none;
		}
	}
	&:checked + .fx-slide-toggle-btn:after {
		left: 50%;
	}
	+ .fx-slide-toggle-btn {
		background: #f0f0f0;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		&:after {
			border-radius: 50%;
			background: #fff;
			transition: all .2s ease;
		}
	}
	&:checked + .fx-slide-toggle-btn {
		background: #5cb85c;
	}
}