/*============*/
/*== GLOBAL ==*/ 
/*============*/

*, *:after, *::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, body, html {
    -webkit-font-smoothing: antialiased;
}
html.is-loading {
    overflow: hidden;
}
html,
body {
    height: 100%;
}
html {
    font-size: 100%;
}
body {
	font-family: $font-lato!important;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: $black;
}

// Bootstrap Overriding Colors
.btn-danger {
    background-color: $red;
    border-color: $red;
}